body {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(~src/assets/Sea_Ocean.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
